@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

$font-stack: 'Outfit', sans-serif;

:root {
    --color-bg: #f2f2f2;
    --color-surface: #ffffff;
    --color-text: #111111;
    --color-accent: #6c63ff;
    --color-muted: #666;
    --color-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
    --color-header-bg: #ffffff;
    --color-header-shadow: rgba(0, 0, 0, 0.05);
}

[data-theme="dark"] {
    --color-bg: #121212;
    --color-surface: #1e1e1e;
    --color-text: #f2f2f2;
    --color-accent: #9e90ff;
    --color-muted: #999;
    --color-shadow: rgba(255, 255, 255, 0.05) 0px 8px 24px;
    --color-header-bg: #1a1a1a;
    --color-header-shadow: rgba(0, 0, 0, 0.4);
}
