.site-nav {
    display: flex;
    gap: 1rem;
    justify-content: center;
    a {
        text-decoration: none;
        font-weight: 500;
        font-size: 1rem;
        color: $color-text;

        &:hover {
            color: $color-accent;
        }
    }
}
