<section class="hero">
    <div class="container text-center">
        <img src="~/images/placeholderperson.jpg" alt="Profile Image" width="150" height="150" class="mb-4 rounded-circle" />
        <h1 class="mb-3">Hi, I'm Eddie</h1>
        <p class="lead text-muted">I'm a junior software developer!</p>
        <p class="lead text-muted">I build software that is easy to use, maintain and develop!</p>
    </div>
</section>