@{
    ViewData["Title"] = "Home";
    var navLinks = new[]
    {
        new { Title = "Home", Action = "Index" },
        new { Title = "Projects", Action = "Projects" },
        new { Title = "About", Action = "About" },
        new { Title = "Contact", Action = "Contact" }
    };
}

<div class="wrapper">
    <!-- Hero Section -->
    @await Html.PartialAsync("Sections/_Hero")
</div>
