<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <header>
        @await Html.PartialAsync("_Nav")
    </header>
    @RenderBody()
    <footer class="text-center text-muted py-4 mt-auto">
        <div class="container">
            &copy; 2025 - MyPortfolio
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
